In [1]:
ls=[]

In [2]:
tl=["Se","Py","DS","Appium"]

In [3]:
tl

['Se', 'Py', 'DS', 'Appium']

In [5]:
# fetch data --> array indexing
tl[1]

'Py'

In [6]:
type(tl)

list

In [7]:
num=[10,20,30,4]

In [8]:
min(num)

4

In [9]:
max(num)

30

In [10]:
#add all value
sum(num)

64

In [11]:
tl=[]

In [13]:
tl.append("guru")

In [14]:
tl

['guru']

In [16]:
ls=["guru","shree","padma","sridhar"]

In [17]:
tl.extend(ls)

In [18]:
tl

['guru', 'guru', 'shree', 'padma', 'sridhar']

In [19]:
tl.insert(3,"bond")

In [20]:
tl

['guru', 'guru', 'shree', 'bond', 'padma', 'sridhar']

In [22]:
tl.remove("guru")

In [23]:
tl

['guru', 'shree', 'bond', 'padma', 'sridhar']

In [24]:
tl.pop()

'sridhar'

In [25]:
tl.pop(1)

'shree'

In [26]:
tl.clear()

In [27]:
tl

[]

In [28]:
tl.extend(ls)

In [29]:
tl

['guru', 'shree', 'padma', 'sridhar']

In [31]:
tl.index("Shree")

ValueError: 'Shree' is not in list

In [32]:
tl.extend(ls)

In [33]:
tl

['guru', 'shree', 'padma', 'sridhar', 'guru', 'shree', 'padma', 'sridhar']

In [34]:
tl.count("guru")

2

In [35]:
tl1.copy(tl)

NameError: name 'tl1' is not defined

In [36]:
tl1=[]

In [38]:
tl1.copy()

[]

In [39]:
tl.copy()

['guru', 'shree', 'padma', 'sridhar', 'guru', 'shree', 'padma', 'sridhar']

In [40]:
tl.reverse()

In [41]:
tl

['sridhar', 'padma', 'shree', 'guru', 'sridhar', 'padma', 'shree', 'guru']

In [42]:
tl.sort()

In [43]:
tl

['guru', 'guru', 'padma', 'padma', 'shree', 'shree', 'sridhar', 'sridhar']

In [44]:
"guru" in tl

True

In [45]:
"g" in tl

False

In [46]:
"g" not in tl

True